##### There are 3 main functions for creating reports:

analyze(...)
compare(...)
compare_intra(...)

In [1]:
import pandas as pd
import sweetviz as sv

In [2]:
file=pd.read_csv('titanic.csv')

In [3]:
report = sv.analyze(file)

                                             |                                             | [  0%]   00:00 ->…

In [4]:
report.show_html( filepath='report.html', 
            open_browser=True, 
            layout='widescreen', 
            scale=None)

Report report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [6]:
a=len(file)

In [7]:
train = file[0:round(0.7*a)]

In [10]:
file.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [12]:
featureconfig = sv.FeatureConfig(skip="PassengerId")

In [9]:
test = file[round(0.7*a):]

In [13]:
compare_report = sv.compare([train , "Trainning set"] , [test , "test set"] ,"Survived" ,featureconfig )

                                             |                                             | [  0%]   00:00 ->…

In [14]:
compare_report.show_html( filepath='compare_report.html', 
            open_browser=True, 
            layout='widescreen', 
            scale=0.8)

Report compare_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [20]:
my_report = sv.compare_intra(file, file["Sex"] == "male", ["Male", "Female"])

                                             |                                             | [  0%]   00:00 ->…

In [21]:
my_report.show_html( filepath='my_report.html', 
            open_browser=True, 
            layout='widescreen', 
            scale=0.8)

Report my_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.